@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Color Codes
$primary-color: #19456a;
$secondary-color: #1dc99c;
$app: #f8fcff;
$black: #000000;
$white: #ffffff;
$black-pearl: #1a141f;
$dark-grayish-violet: #625e66;
$maya-blue: rgba(126, 193, 250, 0.11);
$tabs: rgba(39, 112, 173, 0.1);
$search-field-border: rgba(25, 69, 106, 0.2);
$fruit-salad: #4caf50;
$dark-washed-red: #ff3333;
$reddish-white-smoke: #feefef;
$palatinate-blue: #2639ed;
$toaster: #e1f6e7;
$submarine: #9d9e9e;

// Font Families
$font-family-poppins: "Poppins";
$font-family-roboto: "Roboto";

// Font Sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-30: 30px;

// Border Radius
$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-22: 22px;
$border-radius-header-tabs-2: 8px 0px 0px 0px;

// Shadows
$box-shadow-big-card: inset 0px 0px 8px rgba(193, 227, 255, 0.47);
$box-shadow-small-card: 0px 0px 0px rgba(61, 40, 216, 0.1);

// Font Weights
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
